<header class="site-header" role="banner">

  <div class="wrapper">
    <!--    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>-->
    <div class="col">
      <a class="site-title" href="{{ '/' | relative_url }}">
        <img src='{{ "/assets/img/logo.png" | relative_url }}' alt="logo" />
      </a>

      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
          </span>
        </label>

        <div class="trigger">
          <section>
            <div class="dropdown-wrapper">
              <a class="page-link" href="/책">책</a>
              <ul class="dropdown">
                <li><a href="/소설">소설</a></li>
                <li><a href="/인문학">인문학</a></li>
              </ul>
            </div>
            <div class="dropdown-wrapper">
              <a class="page-link" href="/배움">배움</a>
              <ul class="dropdown">
                <li><a href="/데이터분석">데이터분석</a></li>
                <li><a href="/SQL">SQL</a></li>
                <li><a href="/기타">기타</a></li>
              </ul>
            </div>
            <div class="dropdown-wrapper">
              <a class="page-link" href="/기록">기록</a>
              <ul class="dropdown">
                <li><a href="/생각">생각</a></li>
                <li><a href="/경험">경험</a></li>
              </ul>
            </div>
            <a class="util-link" href="http://jaeyoon.io">
              <u>about</u>
            </a>
            <a class="util-link" href="/search">
              <u class="hidden-desktop">검색</u>
              <img src='{{ "/assets/img/search.svg" | relative_url }}' width="15" alt="search" />
            </a>
          </section>
          <section class="nav-footer hidden-desktop">
            <div class="post-subtitle">
              <strong>{{ site.title | escape }}</strong>
              <div>
                <a href="http://jaeyoon.io" target="_blank">포트폴리오 사이트</a> &nbsp; | &nbsp;
                <a href="https://facebook.com/i.am.jyoon" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;
                <a href="https://www.linkedin.com/in/jyoonsong/" target="_blank"><i
                    class="fa fa-linkedin"></i></a>&nbsp;
                <a href="https://github.com/jyoonsong" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
                <a href="https://dribbble.com/JaeYoon" target="_blank"><i class="fa fa-dribbble"></i></a>&nbsp;
                <a href="https://www.instagram.com/jaeyo_on_/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
            <div class="post-meta">{{ site.description | escape }}</div>
          </section>
        </div>
      </nav>
    </div>
  </div>
</header>