---
layout: page
# The Archives of careers.
---

{% include lang.html %}

{% if site.prefer_datetime_locale == 'en' or lang == 'en' %}
  {% assign df_strftime_m = '%b' %}
  {% assign df_dayjs_m = 'MMM' %}
{% else %}
  {% assign df_strftime_m = '/ %m' %}
  {% assign df_dayjs_m = '/ MM' %}
{% endif %}

<div id="archives" class="pl-xl-3">

{% for career in site.posts.careers %}
  {% capture cur_year %}{{ career.date | date: "%Y" }}{% endcapture %}

  {% if cur_year != last_year %}
    {% unless forloop.first %}</ul>{% endunless %}
    <div class="year lead">{{ cur_year }}</div>
    <ul class="list-unstyled">
    {% assign last_year = cur_year %}
  {% endif %}

  <li class="d-flex align-items-center">
  {% assign ts = career.date | date: '%s' %}
    <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ career.date | date: "%d" }}</span>
    <span class="date month small text-muted ml-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
      {{ career.date | date: df_strftime_m }}
    </span>
    <a href="{{ career.url | relative_url }}">{{ career.title }}</a>
  </li>

  {% if forloop.last %}</ul>{% endif %}

{% endfor %}

</div>
