---
layout: page
# The Home page layout
---

{% include lang.html %}

{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}

{% for author in site.data.authors %}
  <p>{{ author }}</p>
{% endfor %}
<h2 id="-major">💻 Major</h2>
<ul>
  <li><code class="language-plaintext highlighter-rouge">Penetration tester</code> (All about systems)</li>
  <li><code class="language-plaintext highlighter-rouge">Security Researcher</code> (virtualmachine, eeg)</li>
  <li><code class="language-plaintext highlighter-rouge">Developer</code> (Python, Typescript..)</li>
</ul>

<h2 id="-interests">🤩 Interests</h2>
<ul>
  <li>Virtual machines (Hyper-v, vmware … )</li>
  <li>Pentest</li>
  <li>Exploit</li>
  <li>Resersing</li>
</ul>

<h2 id="-contact">🔗 Contact</h2>
<ul>
  <li>E-mail: 📨 <a href="mailto://131ackcon@gmail.com">131ackcon@gmail.com</a></li>
  <li>SNS:  <a href="https://www.linkedin.com/in/blackcon/">Linkedin</a> / <a href="https://twitter.com/jh_blank">Twitter</a></li>
  <li>Blog: <a href="https://blackcon.tistory.com/">Tistory</a></li>
</ul>